body {
  background: #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 25px auto;
}

#price,
#num,
#unit {
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#price {
  width: 140px;
}

#num,
#unit {
  width: 110px;
}

#btn {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 40px;
  padding: 10px;
  background: #3897fd;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.input-area {
  font-size: 0;
  margin-bottom: 20px;
}

.result-area {
  background: #f8f8f8;
  padding: 10px;
  height: 130px;
  border-radius: 5px;
  position: relative;
}

#result {
  margin: 0;
}

#reset {
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#reset.hidden {
  display: none;
}

#btn.disabled {
  opacity: 0.8;
}
